## Python stuff
__pycache__/

## environments
env/
venv/
.venv/

## environment variables
.env

## Jupyter Notebook stuff
*/.ipynb_checkpoints/*

## Stored Data
stored_data/*

## Macbook stuff
.DS_Store

## pytest
conftest.py
.pytest_cache